body{
	position: relative;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;

	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
h1,h2,h3,h4,h5,h6,p,li,ul,ol,img,a,input{
	margin: 0;
	padding: 0;
}
a{	
	font-size: 14px;
	text-decoration: none;
	color: inherit;
}
img{
	max-width: 100%;
}
time{
	text-transform: lowercase;
}
ul{
	list-style: none;
}
.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	font-size: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.container{
	max-width: 940px;
	margin: 0 auto;
}
h2,
.title{
	font-size: 30px;
	line-height: 42px;
}
h3{
	font-size: 24px;
	line-height: 30px;
}
p, li, span,
.subtitle{
	font-size: 14px;
	line-height: 24px;
}
.btn{
	font-size: 14px;
	display: block;
	color: #fff;
	background-color: #000;
	border: none;
	max-width: 140px;
	padding: 15px 5px;
	text-align: center;
	transition: 0.2s;
}
.btn:hover,
.btn:focus{
	background: #673d15;
}
/* ------------ CheckBox -------------------- */
.check{
	position: relative;
	padding-left: 27px;
	display: block;
}
.check__input{
	position: absolute;
	width: 1px;
	height: 1px;
	font-size: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.check__box{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	box-shadow: 0 0 0 2px #000;
	width: 16px;
	height: 16px;
}
/* Checked */
.check__input:checked + .check__box{
	background-image: url(../img/icons/cross.png);
	background-repeat: no-repeat;
	background-position: center;
}
/* Focused */
.check__input:focus + .check__box{
	box-shadow: 
		0 0 0 2px #000,
		0 0 0 4px #673d15;
}
/* ------------------------ Radio input ------------------------ */
.custom-radio{
	position: relative;
	padding-left: 27px;
	display: block;
}
.radio__input{
	position: absolute;
	width: 1px;
	height: 1px;
	font-size: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.radio__box{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	box-shadow: 0 0 0 2px #000;
	border-radius: 50%;
	width: 14px;
	height: 14px;
}
/* Checked */
.radio__input:checked + .radio__box{
	background-image: url(../img/icons/dott.png);
	background-repeat: no-repeat;
	background-position: center;
}
/* Focused */
.radio__input:focus + .radio__box{
	box-shadow: 
		0 0 0 2px #000,
		0 0 0 4px #673d15;
}
.radio__text{
	display: inline;
}
/*--------------- Header Section ---------------*/
.page-header{
	color: #fff;
	background-color: #000;
}
.header__navigation{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__navigation-list li,
.header__navigation__login{
	padding-top: 22px;
	padding-bottom: 24px;
	padding-left: 20px;
	padding-right: 20px;
}
.header__navigation-list{
	display: flex;
	list-style: none;
}
.header__navigation__login{
	list-style: none;
	position: relative;
}
.header__navigation-list li:hover,
.header__navigation__login:hover{
	background-color: #242424;
}
.header__navigation__login .enter-img{
	margin-right: 10px;
	opacity: 0.7;
}
.header__navigation__login:hover .enter-img{
	margin-right: 10px;
	opacity: 1;
}
.big-logo{
	position: absolute;
	left: 50%;
	top: 120px;
	transform: translateX(-50%);
}
.homepage .logo-responsive{
	display: none;
}
.inner-header .logo-responsive{
	display: block;
}
.header__burger{
	display: none;
}
/* -----------------------------------advantages Section----------------------------------------------- */
.advantages{
	padding-top: 250px;
	padding-bottom: 77px;
}
.advantages__list{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	padding-top: 70px;
}
.advantages__item{
	color: #fff;
	text-align: center;
	flex-basis: 30%;
}
.advantages__item h2{
	position: relative;
	margin-bottom: 60px;
}
.advantages__item h2::after{
	content: "";
	background-color: #fff;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: -30px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
}
/* ----------------------------------------White Section-------------------------------------------- */
.white-section{
	margin-bottom: 33px;
}
.white-wrapper{
	background-image: url(../img/line.png), url(../img/white-bg.jpg);
	background-repeat: no-repeat, no-repeat ;
	background-position: left 50% top 50%;
	background-size: auto, cover;

	padding: 45px 0px;

	display: flex;
	justify-content: space-between;
}
.left-part{
	flex-basis: 40%;
	padding-left: 77px;
}
.right-part{
	flex-basis: 40%;
}
.left-part h2,
.right-part h2{
	margin-bottom: 22px;
}
.news__item{
	margin-bottom: 25px;
}
.news__item p{
	margin-bottom: 5px;
}
.galery{
	width: 40%;
}
.photo-slide{
	max-width: 300px;
}
.photo-slide a{
	display: block;
	width: 100%;
	height: 100%;
	border: 7px solid #fff;
}
.slick-prev{
	left: 0;
}
.slick-next{
	right: 0;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
	cursor: pointer;
    color: #fff;
    background: #000;

    position: absolute;
	top: auto;
	bottom: -85px;
	transform: translate(0, 0);

    display: block;
	max-width: 140px;
	width: 100%;
	height: auto;
	padding: 15px 5px;
	text-align: center;
	transition: 0.2s;
}
.slick-prev:before, .slick-next:before {
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size: 14px;
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
    opacity: 1;
    color: #fff;
}
.slick-prev:hover,
.slick-next:hover{
	background-color: #673d15;
}
.slick-prev:before{
    content: 'Назад';
}
.slick-next:before{
    content: 'Вперед';
}
/* ------------------------------------------White Section 2 -----------------------------------*/
.contact-info a{
	display: block;
	margin-bottom: 5px;
}
.contact-info .info-adress:hover{
	color: #673d15;
}
.contact-info p,
.contact-info a{
	font-size: 14px;
}
.contact-info .contact-phone,
.contact-info .weekend-time{
	margin-bottom: 34px;
}
.btn-container{
	display: flex;
}
.btn-container .btn{
	display: block;
	width: 100%;
	margin-right: 20px;
}
.appointment p{
	max-width: 300px;
	margin-bottom: 20px;
}
.contact-form{
	display: flex;
	flex-wrap: wrap;
	max-width: 300px;
	
	column-gap: 20px;
	row-gap: 10px;
}
.contact-form .btn{
	max-width: 100%;
	width: 100%;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
}
.contact-form .contact-form__item label,
.contact-form .contact-form__item input{
	display: block;
}
.contact-form .contact-form__item label{
	margin-bottom: 10px;
}
.contact-form .contact-form__item input{
	line-height: 24px;
	font-weight: bold;
	border: none;
	border: 2px solid #000;
	width: 121px;
	height: 40px;
	padding-left: 15px;
}
.contact-form .contact-form__item input:active,
.contact-form .contact-form__item input:focus{
	border: 2px solid #673d15; 
	outline	:none;
}
/* -----------------------------------Footer Section -------------------------*/
.page-footer{
	color: #fff;
	background-color: #262626;

	padding-top: 50px;
	padding-bottom: 30px;
}
.footer__btn:hover{
	color: #000;
	background-color: #fff;
}
.footer__wrapper{
	display: flex;
	justify-content: space-between;
}
.footer__contact {
	display: flex;
	flex-direction: column;
}
.footer__contact a{
	margin-bottom: 5px;
}
.footer__contact .popup-map{
	text-decoration: underline;
}
.footer__socials p{
	text-align: center;
	margin-bottom: 15px;
}
.footer__solials__icons{
	display: flex;
	justify-content: center;
	column-gap: 6px;
	width: 148px;
}
.footer__solials__icons i{
	font-size: 25px;
	display: block;
	padding: 10px 2px;

	flex-basis: 43px;
	flex-shrink: 0;
	flex-grow: 1;
}
.footer__developers{
	flex-basis: 16%;
}
.footer__developers p{
	text-align: center;
	margin-bottom: 15px;
}
.footer__developers a{
	display: block;
	width: 100%;
}

/* ------------------Inner Page ---------------------*/
.inner-page{
	background-image: url(../img/white-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	padding-top: 50px;
	padding-bottom: 50px;
}
.inner-page h2{
	margin-bottom: 15px;
}
/* ---------------------------------------------------Shop Page ----------------------------*/
.shop h2{
	margin-bottom: 15px;
}
.shop__navigation-list{
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	list-style: none;
	margin-bottom: 45px;
}
.shop__navigation-list li{
	position: relative;
}
.shop__navigation-list .active{
	opacity: 0.5;
}
.shop__navigation-list a:active,
.shop__navigation-list a:hover{
	opacity: 0.5;
}
.shop__navigation-list li::after{
	content: "";
	background-color: #000;
	width: 8px;
	height: 8px;
	display: block;
	position: absolute;
	top: 50%;
	right: -23px;
	transform: translateY(-50%) rotate(45deg);
}
.shop__navigation-list li:last-child::after{
	display: none;
}
.shop__aside{
	flex-basis: 45%;
}
.shop__aside h3{
	margin-bottom: 25px;
}
.shop__aside ul{
	list-style: none;
	max-width: 170px;
}
.shop__aside ul li{
	margin-bottom: 15px;
	line-height: 18px;
}
.shop__aside input{
	margin-right: 20px;
}
.shop__aside .btn{
	max-width: 100%;
	width: 140px;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
}
.aside__list-checkbox,
.aside__list-radio{
	margin-bottom: 45px;
}
.shop__section{
	display: flex;
	column-gap: 45px;
}
.shop__products{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	row-gap: 20px;
	column-gap: 20px;
}
.shop__products__items{
	background-color: #fff;
	box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.356);
}
.shop__products__items:hover{
	box-shadow:
		1px 1px 7px 1px rgba(0, 0, 0, 0.356),
	 	2px 2px 7px 2px rgb(151, 151, 151);
}
.shop__products__items img{
	display: block;
}
.shop__products__items p span{
	text-transform: none;
	display: block;
}
.shop__products__items p{
	margin: 12px 16px;
	line-height: 18px;
}
.products__items__price{
	margin: 0px 15px 15px;
}
.products__items__price{
	display: flex;
	align-items: center;
    justify-content: center;
}
.products__items__price span{
	background-color: #e5e5e5;
	display: block;
	padding: 14px;
	flex-basis: 50%;
	text-align: center;
}
.products__items__price .btn{
	flex-basis: 45%;
}
.shop .pages{
	display: flex;
	justify-content: center;
    align-items: center;
    align-content: center;
	column-gap: 7px;
}
.shop .pages a{
	display: block;
	color: #fff;
	background-color: #000;	
	padding: 13px 18px;

	flex-basis: 0px;
	flex-shrink: 0;
	flex-grow: 1;
}
.shop .pages .active,
.shop .pages a:hover,
.shop .pages a:active{
	color: #000;
	background-color: #fff;
}

/* ------------------------Price-list Page--------------------- */
.price-list__title{
	text-align: center;
	position: relative;
	margin-bottom: 55px;
}
.price-list__title::before{
	content: "";
	width: 160px;
	height: 2px;
	background-color: #000;
	display: block;
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
}
.price-list__title::after{
	content: "";
	width: 160px;
	height: 2px;
	background-color: #000;
	display: block;
	position: absolute;
	top: 50%;
	right: 10%;
	transform: translateY(-50%);
}
.price-list__info{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.price-list__item{
	margin-bottom: 50px;
}
.price-list__item h3{
	margin-bottom: 25px;
}
.product-list li{
	position: relative;
	padding-left: 20px;
	margin-bottom: 15px;
}
.product-list li::before{
	content: "";
	background-color: #000;
	width: 6px;
	height: 6px;
	display: block;
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translateY(-50%) rotate(45deg);
}
.price-list__item__table{
	border: 2px solid #000;
	border-collapse: collapse;
	width: 460px;
}
.price-list__item__table tr{
	height: 39px;
}
.price-list__item__table td{
	border: 2px solid #000;
}
.services{
	padding-left: 17px;
	width: 50%;
}
.price{
	text-align: center;
	width: 50%;
}
.price-list__about-us-box{
	display: flex;
	column-gap: 90px;
}

/* ----------------------Shop Item Page -----------------------*/
.shop-item__wrapper{
	display: flex;
	column-gap: 80px;
}
.item-galery{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 20px;

	flex-basis: 50%;
}
.slider-for img,
.item-galery img{
	box-shadow: 0 0 10px 1px rgba(36, 36, 36, 0.404);
}
.item-text{
	flex-basis: 40%;
}
.item-text p{
	margin-bottom: 35px;
}
.avaible{
	display: inline-block;
	margin-bottom: 15px;
}
.avendor-code{
	padding-left: 45%;
	color: #aeaeae;
}
.shop-item__price{
	display: flex;
	margin-bottom: 60px;
}
.shop-item__price span{
	background-color: #e5e5e5;
	
	padding: 14px;
	width: 109px;
	text-align: center;
}
.shop-item__price .btn{
	max-width: 80px;
    width: 100%;
    line-height: 20px
}
.shop-item-page li{
	margin-bottom: 0px;
}
.shop-item__slider{
	max-width: 500px;
}
.item-galery .item {
	margin: 10px;
	overflow: hidden;
}
.slider-for img{
	margin: 10px;
	/* max-width: 300px; */
}
.shop-item__slider{
	width: 550px;
	height: auto;
	margin-left: 20px;
}